In [8]:
import pandas as pd

Cargar datos

In [9]:
# Importamos el dataset de los datos de los pokemon
# No especifico el delimiter porque por defecto es coma
df = pd.read_csv('dataset_final.csv') 
# Devuelve las n primeras 5 filas del DataFrame
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [11]:
# Como primera medida quiero ordenar la primera fila, para poder hacer uso de las funciones segun mi conveniencia
# Se renombran los títulos
df = df.rename(columns={'#':'No', 'Type 1':'Type_1', 'Type 2':'Type_2', 'Sp. Atk':'Sp_Atk', 'Sp. Def':'Sp_Def'})

In [12]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
# df.No.count()
print(f'En el dataset hay \033[1m{df.No.count()}\033[0m pokémon.')

En el dataset hay 800 pokémon.

In [13]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
tipo_Poison = df['Type_1'] == 'Poison'
df[tipo_Poison]
# Otra Forma de hacerlo
# df.groupby('Type_1').get_group('Poison')

,No,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
34,29,Nidoran♀,Poison,NaN,275,55,47,52,40,40,41,1,False
35,30,Nidorina,Poison,NaN,365,70,62,67,55,55,56,1,False
36,31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False
37,32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
38,33,Nidorino,Poison,NaN,365,61,72,57,55,55,65,1,False
39,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
47,42,Golbat,Poison,Flying,455,75,80,70,65,75,90,1,False
95,88,Grimer,Poison,NaN,325,80,80,50,40,50,25,1,False
96,89,Muk,Poison,NaN,500,105,105,75,65,100,50,1,False
117,109,Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
118,110,Weezing,Poison,NaN,490,65,90,120,85,70,60,1,False
183,169,Crobat,Poison,Flying,535,85,90,80,70,80,130,2,False
345,316,Gulpin,Poison,NaN,302,70,43,53,43,53,40,3,False
346,317,Swalot,Poison,NaN,467,100,73,83,73,83,55,3,False
368,336,Seviper,Poison,NaN,458,73,100,60,100,60,65,3,False
482,434,Stunky,Poison,Dark,329,63,63,47,41,41,74,4,False
483,435,Skuntank,Poison,Dark,479,103,93,67,71,61,84,4,False
501,451,Skorupi,Poison,Bug,330,40,50,90,30,55,65,4,False
502,452,Drapion,Poison,Dark,500,70,90,110,60,75,95,4,False
503,453,Croagunk,Poison,Fighting,300,48,61,40,61,40,50,4,False
504,454,Toxicroak,Poison,Fighting,490,83,106,65,86,65,85,4,False
629,568,Trubbish,Poison,NaN,329,50,50,62,40,62,65,5,False
630,569,Garbodor,Poison,NaN,474,80,95,82,60,82,75,5,False
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
761,691,Dragalge,Poison,Dragon,494,65,75,90,97,123,44,6,False

In [14]:
cantidad = df[tipo_Poison].Type_1.count()
print(f'Hay \033[1m{cantidad}\033[0m pokémon de tipo Poison.')

Hay 28 pokémon de tipo Poison.

In [279]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
# Otra forma de hacerlo
# df.groupby('Type_1').Name.nunique()

# value_counts(), devuelve una serie que contiene recuentos de valores únicos
# count(), cuenta cuantos valores unicos hay
cantidad = df.Type_1.value_counts().count()
print(f'Hay \033[1m{cantidad}\033[0m tipos de pokémon diferentes en el dataset.')

Hay 18 tipos de pokémon diferentes en el dataset.

In [280]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
# df.Type_1.value_counts().sort_values(ascending=True)

sep = '='*18
print(f'\033[1m{sep}\nPokemon   Cantidad\n{sep}\033[0m')
df.Type_1.value_counts().sort_values(ascending=True)

==================
Pokemon   Cantidad
==================

Flying        4
Fairy        17
Ice          24
Fighting     27
Steel        27
Poison       28
Dark         31
Ghost        32
Ground       32
Dragon       32
Electric     44
Rock         44
Fire         52
Psychic      57
Bug          69
Grass        70
Normal       98
Water       112
Name: Type_1, dtype: int64

In [281]:
'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''
tipo = df.Type_1.max()
print(f'El tipo de pokémon con más pokémon es: \033[1m{tipo}\033[0m.')

El tipo de pokémon con más pokémon es: Water.

In [300]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
mayor_velocidad = df.Speed.max()
mas_rapido = df.groupby('Speed').get_group(mayor_velocidad)
mas_rapido

,No,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True

In [314]:
# Para mostrar respuesta
from functools import reduce
nombre = ''
# convertimos el resultado de extraer el nombre del pokemón más veloz, en este caso es uno, pero puede haber el caso
# Con varios okemon con la misma velocidad, por tal razon se itera una lista y los nombres se convierten a string
nombre = reduce(lambda x: str(x), mas_rapido.Name.values)
print(f'El pokemosn más rapido es \033[1m{nombre}\033[0m.')

El pokemosn más rapido es DeoxysSpeed Forme.

In [319]:
'''
4. ¿Cuántos pokemon tiene una defensa inferior a 100?
'''
menor_igual_100 = df.Defense <= 100
cantidad = df[menor_igual_100].Defense.count()

print(f'Hay \033[1m{cantidad}\033[0m pokemon con una defensa inferior a 100.')

# Otra Manera de hacerlo tanto para visulizar datos como para sacar cantidades
# valores = df.query('Defense <= 100').count()

Hay 677 pokemon con una defensa inferior a 100.

In [320]:
'''
4.1 ¿Cuántos pokemon tiene una defensa superior o igual a 100?
'''
mayor_100 = df.Defense > 100
cantidad = df[mayor_100].Defense.count()

print(f'Hay \033[1m{cantidad}\033[0m pokemon con una defensa superior a 100.')

# Otra Manera de hacerlo tanto para visulizar datos como para sacar cantidades
# valores = df.query('Defense > 100').count()

Hay 123 pokemon con una defensa superior a 100.

In [322]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
defensa_100 = df.Defense > 100
speed_100 = df.Speed > 100
df[defensa_100 & speed_100]
cantidad = df[defensa_100 & speed_100].Defense.count()

print(f'Hay \033[1m{cantidad}\033[0m pokemon con defensa y velocidad superior a 100')

Hay 9 pokemon con defensa y velocidad superior a 100.

In [362]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
print('\033[1mDATAFRAME ORDENADO:\033[0m')
df.sort_values(['Type_1', 'Type_2'])

# Otra forma de ordenar
# df.sort_values(by = ['Type_1', 'Type_2'], ascending = [True, False], na_position = 'first')

DATAFRAME ORDENADO:

,No,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [19]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
import numpy as np
agua_fuego = df[df.Type_1.isin(['Fire', 'Water'])]
tamaño = agua_fuego.shape
agua_fuego.No = np.arange(tamaño[0])

In [526]:
agua_fuego

,No,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
4,0,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,1,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,2,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,3,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,4,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,159,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,160,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
762,161,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,162,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
799,163,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [527]:
agua_fuego.to_csv('agua_fuego.csv', index=False)

In [535]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
legendary = df[df.Legendary.isin([True])]
tamaño = legendary.shape
legendary.No = np.arange(tamaño[0])
legendary

,No,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
156,0,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,1,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,2,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,3,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,4,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,60,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,61,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,62,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,63,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,64,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [536]:
legendary.to_csv('legendary.csv', index=False)

In [575]:
'''
9. Calcula el promedio de stats de los pokemon Legendary 
(HP, Attack, Defense, Sp. Atk, Sp. Def, Speed)
'''
hp = legendary['HP'].mean()
attack = legendary['Attack'].mean()
defense = legendary['Defense'].mean()
sp_atk = legendary['Sp_Atk'].mean()
sp_def = legendary['Sp_Def'].mean()
speed = legendary['Speed'].mean()

print(f'El promedio \033[1mHP\033[0m para Legendary es: \033[1m{round(hp,2)}.\033[0m')
print(f'El promedio \033[1mAttack\033[0m para Legendary es: \033[1m{round(attack,2)}.\033[0m')
print(f'El promedio \033[1mDefense\033[0m para Legendary es: \033[1m{round(defense,2)}.\033[0m')
print(f'El promedio \033[1mSp_Atk\033[0m para Legendary es: \033[1m{round(sp_atk,2)}.\033[0m')
print(f'El promedio \033[1mSp_Def\033[0m para Legendary es: \033[1m{round(sp_def,2)}.\033[0m')
print(f'El promedio \033[1mSpeed\033[0m para Legendary es: \033[1m{round(speed,2)}.\033[0m')

El promedio HP para Legendary es: 92.74.
El promedio Attack para Legendary es: 116.68.
El promedio Defense para Legendary es: 99.66.
El promedio Sp_Atk para Legendary es: 122.18.
El promedio Sp_Def para Legendary es: 105.94.
El promedio Speed para Legendary es: 100.18.

In [139]:
# los no Legendary
no_legendary = df[df.Legendary.isin([False])]
tamaño = no_legendary.shape
no_legendary.No = np.arange(tamaño[0])
no_legendary

,No,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary,Doble_tipo
0,0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,730,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False,True
788,731,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False,True
789,732,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False,True
790,733,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False,True
791,734,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False,True

In [556]:
hp = no_legendary['HP'].mean()
attack = no_legendary['Attack'].mean()
defense = no_legendary['Defense'].mean()
sp_atk = no_legendary['Sp_Atk'].mean()
sp_def = no_legendary['Sp_Def'].mean()
speed = no_legendary['Speed'].mean()

print(f'El promedio \033[1mHP\033[0m para no Legendary es: \033[1m{round(hp,2)}.\033[0m')
print(f'El promedio \033[1mAttack\033[0m para no Legendary es: \033[1m{round(attack,2)}.\033[0m')
print(f'El promedio \033[1mDefense\033[0m para no Legendary es: \033[1m{round(defense,2)}.\033[0m')
print(f'El promedio \033[1mSp_Atk\033[0m para no Legendary es: \033[1m{round(sp_atk,2)}.\033[0m')
print(f'El promedio \033[1mSp_Def\033[0m para no Legendary es: \033[1m{round(sp_def,2)}.\033[0m')
print(f'El promedio \033[1mSpeed\033[0m para no Legendary es: \033[1m{round(speed,2)}.\033[0m')

El promedio HP para no Legendary es: 67.18.
El promedio Attack para no Legendary es: 75.67.
El promedio Defense para no Legendary es: 71.56.
El promedio Sp_Atk para no Legendary es: 68.45.
El promedio Sp_Def para no Legendary es: 68.89.
El promedio Speed para no Legendary es: 65.46.

In [571]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp_Atk  Sp_Def  Speed
Legendary       99      90       89       91       94     90
No_Legendary    80      95       75       12       43     87

'''
d = { 'POKEMON': ['Legendary', 'No_Legendary'],
            'HP': [92.74, 67.18], 
            'Attack': [116.68, 75.67],
            'Defense': [99.66, 71.56],
            'Sp_Atk': [122.18, 68.45],
            'Sp_Def': [105.94, 68.89],
            'Speed': [100.18, 65.46]
          }
new_df = pd.DataFrame(data=d)
new_df

        POKEMON     HP  Attack  Defense  Sp_Atk  Sp_Def   Speed
0     Legendary  92.74  116.68    99.66  122.18  105.94  100.18
1  No_Legendary  67.18   75.67    71.56   68.45   68.89   65.46

In [15]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''
df

,No,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [154]:
#Obtengo los valores unicos de Type_1 y Type_2

nombre1 = df.Type_1.value_counts()
nombre1 = dict(nombre1)
rango1 = list(nombre1.keys())
valor1 = df.Type_1.isin(rango1)

nombre2 = df.Type_2.value_counts()
nombre2 = dict(nombre2)
rango2 = list(nombre2.keys())
valor2 = df.Type_2.isin(rango2)

In [178]:
# al sacar los datos de las casillas que no tienen informacion, alimentamos 
# valor1 y valor2, con True cuando encuentra un tipo de pokemos y False cuando no lo encuentra
# de esta manera hacemos la comparacion que nos da como resultado los pokemosnes que no tienen los dos tipo
# alimentando la nueva columna con un False
tamaño = df.shape
doble_tipo = []
for x in np.arange(tamaño[0]):
  if valor1[x] == True and valor2[x] == True:
    doble_tipo.append(True)
  else:
    doble_tipo.append(False)

doble_tipo
df['Doble_tipo'] = doble_tipo

df

,No,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary,Doble_tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,True

In [179]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
new_df_doble_tipo = df[df['Doble_tipo'] == True]
dos_tipos = new_df_doble_tipo[['Name', 'Type_1', 'Type_2']]
dos_tipos

                      Name   Type_1  Type_2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
6                Charizard     Fire  Flying
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[414 rows x 3 columns]

In [191]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': [20],
    'Pantalón': [30],
    'Calcetines': [5],
    'Zapatos': [50],
    'Gorra': [10],
    'Bufanda': [15],
    'Gafas': [25],
    'Reloj': [35],
    'Corbata': 40
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']

In [192]:
new_df1 = pd.DataFrame(data=articulos)
new_df1

,Camisa,Pantalón,Calcetines,Zapatos,Gorra,Bufanda,Gafas,Reloj,Corbata
0,20,30,5,50,10,15,25,35,40

In [220]:
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']

clave = list(articulos.keys())
valor = list(articulos.values())

indice = [clave.index(x) for x in clave]

In [230]:
# A. Una función que calcule el precio total de la compra
def precio(compra, clave, valor):
  i = 0
  suma = 0
  for x in compra:
    if x in clave:
      suma += valor[clave.index(x)]
    i +=1
  return suma
    
precio_total = precio(compra, clave, valor)
print(f'El Precio total de la compra es : {precio_total}')

El Precio total de la venta es : 155

In [234]:
# B. Una función que calcule el precio total de la compra con un descuento del 10%
def descuento(precio):
  valor = (precio - (precio * 0.10))
  return valor

valor_descuento = descuento(precio_total)
print(f'El Precio total de la compra con 10% de descuento es : {valor_descuento}')

El Precio total de la compra con 10% de descuento es : 139.5

In [239]:
# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
def compra_mayor_100(precio):
  if precio > 100:
    valor = (precio - (precio * 0.10))
  else:
    valor = precio
  return valor

valor_descuento = compra_mayor_100(precio_total)
print(f'El Precio total de la compra con 10% de descuento es : {valor_descuento}')

El Precio total de la compra con 10% de descuento es : 139.5

In [240]:
# D. Una función que calcule el precio total aplicando el IVA (21%)
def impuesto_iva(precio):
  valor = precio + (precio * 0.21)
  return valor

valor_impuesto = impuesto_iva(precio_total)
print(f'El Precio total de la compra con el iva del 21% es : {valor_impuesto}')

El Precio total de la compra con el iva del 21% es : 187.55

In [254]:
# E.lista los artículos cuyo precio es superior a 20€
def precio_mayor_20(articulos):
  new_list = []
  for y in valor:
    if y > 20:
      new_list.append(clave[valor.index(y)])
  return new_list

lista = precio_mayor_20(articulos)

print(f'Los árticulos que superan 20€ son:')
print(lista)

Los árticulos que superan 20€ son:
['Pantalón', 'Zapatos', 'Gafas', 'Reloj', 'Corbata']

In [258]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca el nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

In [361]:
from functools import reduce
def estudio(alumnos):

  nombres = []
  apellidos = []
  curso = []
  notas = []

  i = 0
  while i < len(alumnos):
    nombres.append(alumnos[i][0])
    apellidos.append(alumnos[i][1])
    curso.append(alumnos[i][2])
    notas.append(alumnos[i][3])
    i += 1
  
  promedio = []
  for x in notas:
    promedio.append(reduce(lambda a,b: a+b, x, 0)/5)

  dato = ''
  while not dato.isnumeric() or int(dato) not in range(1,3):
    dato = input('Ingrese el curso: ')
  
  n_l = []
  for i in range(len(alumnos)):
    if curso[i] == dato:
      n_l.append([nombres[i],apellidos[i],curso[i],promedio[i]])
    else:
      continue
    
  return n_l

resultado = estudio(alumnos)
print('NOMBRE', 'APELLIDO', 'CURSO', 'PROMEDIO')
for i in range(len(resultado)):
  print(resultado[i], end=' ')
  print()

Ingrese el curso: 2
NOMBRE APELLIDO CURSO PROMEDIO
['Ana', 'García', '2', 7.0]
['María', 'Martínez', '2', 7.0]
['Lucía', 'Hernández', '2', 7.0]
['Sara', 'Díaz', '2', 7.0]
['Miguel', 'Fernández', '2', 7.0]
['Sandra', 'Ruiz', '2', 7.0]
['María', 'Gómez', '2', 7.0]